@import url("./../utils/FontTheme.css");
.canvas-workspace {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  position: relative;
}

.canvas-wrapper {
  background: white;
  padding: 0px;
  border-radius: 4px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  position: relative;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.canvas-container {
  overflow: visible;
}
